<launch>
    <param name="use_sim_time" value="true" />
    <node name="Stage" pkg="stage_ros" type="stageros" args="$(find gvgexploration)/world/office8.world">
        <param name="base_watchdog_timeout" value="0" />
    </node>
    <node name="R0_MapAlign" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /robot_0/map 100"/>
    <node name="R1_MapAlign" pkg="tf" type="static_transform_publisher" args="100 0 0 0 0 0 /map /robot_1/map 100"/>
    <node name="R2_MapAlign" pkg="tf" type="static_transform_publisher" args="150 0 0 0 0 0 /map /robot_2/map 100"/>
    <node name="R3_MapAlign" pkg="tf" type="static_transform_publisher" args="200 0 0 0 0 0 /map /robot_3/map 100"/>
    <node name="R4_MapAlign" pkg="tf" type="static_transform_publisher" args="0 50 0 0 0 0 /map /robot_4/map 100"/>
    <node name="R5_MapAlign" pkg="tf" type="static_transform_publisher" args="100 50 0 0 0 0 /map /robot_5/map 100"/>
    <node name="R6_MapAlign" pkg="tf" type="static_transform_publisher" args="150 50 0 0 0 0 /map /robot_6/map 100"/>
    <node name="R7_MapAlign" pkg="tf" type="static_transform_publisher" args="200 50 0 0 0 0 /map /robot_7/map 100"/>

    <group ns="robot_0">
        <param name="robot_id" value="1" />
        <param name="tf_prefix" type="string" value="robot_0"/>
        <rosparam command="load" file="$(find gvgexploration)/param/ros.yaml" subst_value="true"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam command="load" file="$(find gvgexploration)/param/operator.yaml" subst_value="true"/>
            <rosparam command="load" file="$(find gvgexploration)/param/costmap1.yaml" ns="local_map" subst_value="true"/>
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam command="load" file="$(find gvgexploration)/param/navigator.yaml" subst_value="true"/>
            <param name="robot_id" value="1"/>
        </node>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="0" />
            <rosparam command="load" file="$(find gvgexploration)/param/gvg_config.yaml" subst_value="true"/>
        </node>
        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="0" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="1,2,3,4,5,6,7" />
        </include>

    </group>

    <group ns="robot_1">
        <param name="robot_id" value="2" />
        <param name="tf_prefix" type="string" value="robot_1"/>
        <rosparam command="load" file="$(find gvgexploration)/param/ros.yaml" subst_value="true"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam command="load" file="$(find gvgexploration)/param/operator.yaml" subst_value="true"/>
            <rosparam command="load" file="$(find gvgexploration)/param/costmap2.yaml" ns="local_map" subst_value="true"/>
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam command="load" file="$(find gvgexploration)/param/navigator.yaml" subst_value="true"/>
            <param name="robot_id" value="2"/>
        </node>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="1" />
            <rosparam command="load" file="$(find gvgexploration)/param/gvg_config.yaml" subst_value="true"/>
        </node>

        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="1" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="0,2,3,4,5,6,7" />
        </include>
    </group>

    <group ns="robot_2">
        <param name="robot_id" value="3" />
        <param name="tf_prefix" type="string" value="robot_2"/>
        <rosparam command="load" file="$(find gvgexploration)/param/ros.yaml" subst_value="true"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam command="load" file="$(find gvgexploration)/param/operator.yaml" subst_value="true"/>
            <rosparam command="load" file="$(find gvgexploration)/param/costmap3.yaml" ns="local_map" subst_value="true"/>
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam command="load" file="$(find gvgexploration)/param/navigator.yaml" subst_value="true"/>
            <param name="robot_id" value="3"/>
        </node>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="2" />
            <rosparam command="load" file="$(find gvgexploration)/param/gvg_config.yaml" subst_value="true"/>
        </node>
        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="2" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="0,1,3,4,5,6,7" />
        </include>
    </group>

    <group ns="robot_3">
        <param name="robot_id" value="4" />
        <param name="tf_prefix" type="string" value="robot_3"/>
        <rosparam command="load" file="$(find gvgexploration)/param/ros.yaml" subst_value="true"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam command="load" file="$(find gvgexploration)/param/operator.yaml" subst_value="true"/>
            <rosparam command="load" file="$(find gvgexploration)/param/costmap4.yaml" ns="local_map" subst_value="true"/>
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam command="load" file="$(find gvgexploration)/param/navigator.yaml" subst_value="true"/>
            <param name="robot_id" value="4"/>
        </node>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="3" />
            <rosparam command="load" file="$(find gvgexploration)/param/gvg_config.yaml" subst_value="true"/>
        </node>
        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="3" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="0,1,2,4,5,6,7" />
        </include>
    </group>

    <group ns="robot_4">
        <param name="robot_id" value="5" />
        <param name="tf_prefix" type="string" value="robot_4"/>
        <rosparam command="load" file="$(find gvgexploration)/param/ros.yaml" subst_value="true"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam command="load" file="$(find gvgexploration)/param/operator.yaml" subst_value="true"/>
            <rosparam command="load" file="$(find gvgexploration)/param/costmap5.yaml" ns="local_map" subst_value="true"/>
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam command="load" file="$(find gvgexploration)/param/navigator.yaml" subst_value="true"/>
            <param name="robot_id" value="5"/>
        </node>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="4" />
            <rosparam command="load" file="$(find gvgexploration)/param/gvg_config.yaml" subst_value="true"/>
        </node>
        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="4" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="0,1,2,3,5,6,7" />
        </include>
    </group>

    <group ns="robot_5">
        <param name="robot_id" value="6" />
        <param name="tf_prefix" type="string" value="robot_5"/>
        <rosparam command="load" file="$(find gvgexploration)/param/ros.yaml" subst_value="true"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam command="load" file="$(find gvgexploration)/param/operator.yaml" subst_value="true"/>
            <rosparam command="load" file="$(find gvgexploration)/param/costmap6.yaml" ns="local_map" subst_value="true"/>
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam command="load" file="$(find gvgexploration)/param/navigator.yaml" subst_value="true"/>
            <param name="robot_id" value="6"/>
        </node>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="5" />
            <rosparam command="load" file="$(find gvgexploration)/param/gvg_config.yaml" subst_value="true"/>
        </node>
        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="5" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="0,1,2,3,4,6,7" />
        </include>
    </group>
    <group ns="robot_6">
        <param name="robot_id" value="7" />
        <param name="tf_prefix" type="string" value="robot_6"/>
        <rosparam command="load" file="$(find gvgexploration)/param/ros.yaml" subst_value="true"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam command="load" file="$(find gvgexploration)/param/operator.yaml" subst_value="true"/>
            <rosparam command="load" file="$(find gvgexploration)/param/costmap7.yaml" ns="local_map" subst_value="true"/>
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam command="load" file="$(find gvgexploration)/param/navigator.yaml" subst_value="true"/>
            <param name="robot_id" value="7"/>
        </node>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="6" />
            <rosparam command="load" file="$(find gvgexploration)/param/gvg_config.yaml" subst_value="true"/>
        </node>
        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="6" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="0,1,2,3,4,5,7" />
        </include>
    </group>
    <group ns="robot_7">
        <param name="robot_id" value="8" />
        <param name="tf_prefix" type="string" value="robot_7"/>
        <rosparam command="load" file="$(find gvgexploration)/param/ros.yaml" subst_value="true"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam command="load" file="$(find gvgexploration)/param/operator.yaml" subst_value="true"/>
            <rosparam command="load" file="$(find gvgexploration)/param/costmap8.yaml" ns="local_map" subst_value="true"/>
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam command="load" file="$(find gvgexploration)/param/navigator.yaml" subst_value="true"/>
            <param name="robot_id" value="8"/>
        </node>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="7" />
            <rosparam command="load" file="$(find gvgexploration)/param/gvg_config.yaml" subst_value="true"/>
        </node>
        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="7" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="0,1,2,3,4,5,6" />
        </include>
    </group>

    <node name="roscbt" pkg="gvgexploration" type="roscbt.py" respawn="true">
        <rosparam file="$(find gvgexploration)/param/roscbt_config8.yaml"/>
        <rosparam file="$(find gvgexploration)/param/gvg_config.yaml"/>
    </node>


    <!-- RVIZ to view the visualization -->
    <node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find gvgexploration)/param/gvgexploration.rviz" output="screen" />

</launch>

