<launch>
    <arg name="world" default="maze"/>
    <arg name="robot_count" default="2"/>
    <arg name="run" default="0"/>
    <arg name="method" default="gvg"/>
    <arg name="bs_pose" default="0,0"/>
    <arg name="environment"  default=''/>

    <param name="use_sim_time" value="true" />

    <node name="Stage" pkg="stage_ros" type="stageros" args="$(find gvgexploration)/world/$(arg world).world">
        <param name="base_watchdog_timeout" value="0" />
    </node>

    <param name="robot_count" value="$(arg robot_count)" />
    <rosparam command="load" file="$(find gvgexploration)/param/gvg_config.yaml" subst_value="true"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find gvgexploration)/param/$(arg environment)_map.yaml">
        <remap from="map" to="latched_map"/>
    </node>

    <group ns="robot_0">
        <include file="$(find gvgexploration)/launch/nodes.launch">
            <arg name="robot" value="1"/>
        </include>

        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_id" value="0" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="1" />
        </include>

    </group>

    <group ns="robot_1">
        <include file="$(find gvgexploration)/launch/nodes.launch">
            <arg name="robot" value="2"/>
        </include>

        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_id" value="1" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="0" />
        </include>
    </group>


    <node name="roscbt" pkg="gvgexploration" type="roscbt.py">
        <rosparam file="$(find gvgexploration)/param/roscbt_config$(arg robot_count).yaml"/>
    </node>

    <node name="localizer" pkg="gvgexploration" type="$(arg world)_localize.sh" />
    <node name="map_analyzer" pkg="gvgexploration" type="map_analyzer.py"/>

    <!-- RVIZ to view the visualization -->
    <node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find gvgexploration)/param/maze.rviz" output="screen" />

</launch>

