<launch>
    <param name="use_sim_time" value="true" />
    <node name="R0_MapAlign" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /robot_0/map 100"/>
    <node name="R1_MapAlign" pkg="tf" type="static_transform_publisher" args="100 0 0 0 0 0 /map /robot_1/map 100"/>


    <group ns="robot_0">
        <param name="robot_id" value="1" />
        <param name="tf_prefix" type="string" value="robot_0"/>
        <rosparam  command="load"  file="$(find gvgexploration)/param/ros.yaml" subst_value="true"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam command="load" file="$(find gvgexploration)/param/operator.yaml" subst_value="true"/>
            <rosparam command="load" file="$(find gvgexploration)/param/costmap1.yaml" ns="local_map" subst_value="true"/>
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam command="load" file="$(find gvgexploration)/param/navigator.yaml" subst_value="true"/>
            <param name="robot_id" value="1"/>
        </node>
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="0" />
            <rosparam command="load" file="$(find gvgexploration)/param/gvg_config.yaml" subst_value="true"/>
        </node>
        <node pkg="nav2d_navigator" type="explore_client" name="explore_client"/>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />
        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="0" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="1" />
        </include>

    </group>

    <group ns="robot_1">
        <param name="robot_id" value="2" />
        <param name="tf_prefix" type="string" value="robot_1"/>
        <rosparam  command="load"  file="$(find gvgexploration)/param/ros.yaml" subst_value="true"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam command="load" file="$(find gvgexploration)/param/operator.yaml" subst_value="true"/>
            <rosparam command="load" file="$(find gvgexploration)/param/costmap2.yaml" ns="local_map" subst_value="true"/>
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam command="load" file="$(find gvgexploration)/param/navigator.yaml" subst_value="true"/>
            <param name="robot_id" value="2"/>
        </node>
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="1" />
            <rosparam command="load" file="$(find gvgexploration)/param/gvg_config.yaml" subst_value="true"/>
        </node>
        <node pkg="nav2d_navigator" type="explore_client" name="explore_client"/>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />

        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="1" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="0" />
        </include>
    </group>
    <node name="roscbt" pkg="gvgexploration" type="roscbt.py" respawn="true">
        <rosparam file="$(find gvgexploration)/param/roscbt_config2.yaml"/>
        <rosparam file="$(find gvgexploration)/param/gvg_config.yaml"/>
    </node>
    <!-- RVIZ to view the visualization -->
    <node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find gvgexploration)/param/maze.rviz" output="screen" />

</launch>

