<launch>
    <!-- Some general parameters -->
    <param name="use_sim_time" value="true" />

    <!-- Start Stage simulator with a given environment -->
    <!--        <node name="Stage" pkg="stage_ros" type="stageros" args="$(find gvgexploration)/world/cave4_1.world">-->
    <node name="Stage" pkg="stage_ros" type="stageros" args="$(find gvgexploration)/world/maze.world">
        <param name="base_watchdog_timeout" value="0" />
    </node>
    <node name="R0_MapAlign" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /robot_0/map 100"/>
    <node name="R1_MapAlign" pkg="tf" type="static_transform_publisher" args="100 0 0 0 0 0 /map /robot_1/map 100"/>
    <node name="R2_MapAlign" pkg="tf" type="static_transform_publisher" args="200 0 0 0 0 0 /map /robot_2/map 100"/>

    <group ns="robot_0">
        <param name="robot_id" value="1" />
        <param name="tf_prefix" type="string" value="robot_0"/>
        <rosparam file="$(find gvgexploration)/param/ros.yaml"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam file="$(find gvgexploration)/param/operator.yaml"/>
            <rosparam file="$(find gvgexploration)/param/costmap1.yaml" ns="local_map" />
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam file="$(find gvgexploration)/param/navigator.yaml"/>
            <param name="robot_id" value="1"/>
        </node>
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="0" />
            <rosparam file="$(find gvgexploration)/param/gvg_config.yaml"/>
        </node>
        <node pkg="nav2d_navigator" type="explore_client" name="explore_client"/>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />
        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="0" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="1,2" />
            <arg name="robot_count" value="3"/>
            <arg name="environment" value="basic"/>
        </include>

    </group>

    <group ns="robot_1">
        <param name="robot_id" value="2" />
        <param name="tf_prefix" type="string" value="robot_1"/>
        <rosparam file="$(find gvgexploration)/param/ros.yaml"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam file="$(find gvgexploration)/param/operator.yaml"/>
            <rosparam file="$(find gvgexploration)/param/costmap2.yaml" ns="local_map" />
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam file="$(find gvgexploration)/param/navigator.yaml"/>
            <param name="robot_id" value="2"/>
        </node>
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="1" />
            <rosparam file="$(find gvgexploration)/param/gvg_config.yaml"/>
        </node>
        <node pkg="nav2d_navigator" type="explore_client" name="explore_client"/>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />

        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="1" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="0,2" />
            <arg name="robot_count" value="3"/>
            <arg name="environment" value="basic"/>
        </include>
    </group>

    <group ns="robot_2">
        <param name="robot_id" value="3" />
        <param name="tf_prefix" type="string" value="robot_2"/>
        <rosparam file="$(find gvgexploration)/param/ros.yaml"/>
        <node pkg="nav2d_operator" type="operator" name="operator" output="screen">
            <rosparam file="$(find gvgexploration)/param/operator.yaml"/>
            <rosparam file="$(find gvgexploration)/param/costmap3.yaml" ns="local_map" />
            <param name="robot_frame" value="base_link"/>
            <param name="odometry_frame" value="odom"/>
        </node>
        <node pkg="nav2d_navigator" type="navigator" name="navigator">
            <rosparam file="$(find gvgexploration)/param/navigator.yaml"/>
            <param name="robot_id" value="2"/>
        </node>
        <node name="scan_filter" pkg="gvgexploration" type="scan_filter.py">
            <param name="robot_id" value="2" />
            <rosparam file="$(find gvgexploration)/param/gvg_config.yaml"/>
        </node>
        <node pkg="nav2d_navigator" type="explore_client" name="explore_client"/>
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />
        <include file="$(find gvgexploration)/launch/robot.launch">
            <arg name="robot_name" value="2" />
            <arg name="robot_type" value="2" />
            <arg name="base_stations" value="0,1" />
            <arg name="robot_count" value="3"/>
            <arg name="environment" value="basic"/>
        </include>
    </group>

    <node pkg="gvgexploration" type="map_analyzer.py" name="map_analyzer">
        <rosparam file="$(find gvgexploration)/param/gvg_config.yaml"/>
    </node>
    <!-- RVIZ to view the visualization -->
    <node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find gvgexploration)/param/maze.rviz" output="screen" />

</launch>

