<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true" />
    <group ns="robot_0">
        <node pkg="nav2d_karto" name="Mapper" type="mapper">
            <remap from="karto_out" to="/karto_out" />
            <rosparam command="load" file="$(find gvgexploration)/param/mapper.yaml" subst_value="true"/>
        </node>
    </group>
    <group ns="robot_1">
        <node pkg="nav2d_karto" name="Mapper" type="mapper">
            <remap from="karto_out" to="/karto_out" />
            <rosparam command="load" file="$(find gvgexploration)/param/mapper.yaml" subst_value="true"/>
        </node>
    </group>
    <group ns="robot_2">-
        <node pkg="nav2d_karto" name="Mapper" type="mapper">
            <remap from="karto_out" to="/karto_out" />
            <rosparam command="load" file="$(find gvgexploration)/param/mapper.yaml" subst_value="true"/>
        </node>
    </group>

    <group ns="robot_3">
        <node pkg="nav2d_karto" name="Mapper" type="mapper">
            <remap from="karto_out" to="/karto_out" />
            <rosparam command="load" file="$(find gvgexploration)/param/mapper.yaml" subst_value="true"/>
        </node>
    </group>

    <group ns="robot_4">
        <node pkg="nav2d_karto" name="Mapper" type="mapper">
            <remap from="karto_out" to="/karto_out" />
            <rosparam command="load" file="$(find gvgexploration)/param/mapper.yaml" subst_value="true"/>
        </node>
    </group>
    <group ns="robot_5">
        <node pkg="nav2d_karto" name="Mapper" type="mapper">
            <remap from="karto_out" to="/karto_out" />
        </node>
    </group>
    <group ns="robot_6">
        <node pkg="nav2d_karto" name="Mapper" type="mapper">
            <remap from="karto_out" to="/karto_out" />
            <rosparam command="load" file="$(find gvgexploration)/param/mapper.yaml" subst_value="true"/>
        </node>
    </group>
    <group ns="robot_7">
        <node pkg="nav2d_karto" name="Mapper" type="mapper">
            <remap from="karto_out" to="/karto_out" />
            <rosparam command="load" file="$(find gvgexploration)/param/mapper.yaml" subst_value="true"/>
        </node>
    </group>
    <node pkg="gvgexploration" type="map_analyzer.py" name="map_analyzer">
        <rosparam command="load" file="$(find gvgexploration)/param/gvg_config.yaml" subst_value="true"/>
    </node>


</launch>
